{% extends "base.html" %}
{% block content %}

        <!-- Header -->
        <header id="headerwrap" class="fullheight dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="assets/img/bg/bg5.jpg" data-speed="0.7">
            <div class="container vertical-center">
                <div class="intro-text vertical-center text-left smoothie">
                    <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s">404</div>
                    <div class="intro-sub-heading wow fadeIn secondary-font" data-wow-delay="0.4s"><span class="rotate">The requested URL, isnt here im afraid.</span></div>
                </div>
            </div>
        </header>
    {% endblock %}
