{% extends "base.html" %}
{% block content %}

        <!-- Header -->
        <header id="headerwrap" class="backstretched no-overlay fullheight">
            <div class="container vertical-center">
                <div class="intro-text vertical-center text-left smoothie">
                    <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s">Welcome To WS Project</div>
                    <div class="intro-sub-heading wow fadeIn secondary-font" data-wow-delay="0.4s">We are here to help you <span class="rotate">grow, profit, succeed</span></div>
                    <a href="#welcome" class="btn btn-primary btn-white mt30 page-scroll" data-wow-delay="0.6s">Find Out More</a>
                </div>
            </div>
        </header>

        <div class="row">
            <div class="col-sm-6 nopadding-lr match-height white-bg" data-mh="promo-inner">
                <div class="section-inner pad-sides-60 promo-inner">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h3 class="mt0">Promo Box</h3>
                        <p class="lead">Contrasted interested eat alteration pianoforte sympathize was. He families believed if no elegance interest surprise an. It abode wrong miles an so delay plate. She relation own put outlived may disposed.</p>
                        <p>Credibly expedite progressive expertise without enterprise-wide imperatives. Dynamically iterate multimedia based manufactured products for business value. Dynamically iterate client-centered best practices before process-centric solutions.</p>
                        <p class="mt30"><a href="#contact" class="btn btn-primary btn-white page-scroll">Find Out More</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 nopadding-lr dark-wrapper remove-opacqued-bg opaqued background-cover match-height" style="background-image: url('assets/img/bg/app1.jpg');" data-mh="promo-inner">
                <div class="dark-opaqued section-inner pad-sides-60 text-right promo-inner"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 nopadding-lr dark-wrapper remove-opacqued-bg opaqued background-cover match-height" style="background-image: url('assets/img/bg/bg6.jpg');" data-mh="promo-inner">
                <div class="dark-opaqued section-inner pad-sides-60 text-right promo-inner"></div>
            </div>

            <div class="col-sm-6 nopadding-lr match-height" data-mh="promo-inner">
                <div class="section-inner pad-sides-60 promo-inner">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h3 class="mt0">Promo Box</h3>
                        <p class="lead">Contrasted interested eat alteration pianoforte sympathize was. He families believed if no elegance interest surprise an. It abode wrong miles an so delay plate. She relation own put outlived may disposed.</p>
                        <p>Credibly expedite progressive expertise without enterprise-wide imperatives. Dynamically iterate multimedia based manufactured products for business value. Dynamically iterate client-centered best practices before process-centric solutions.</p>
                        <p class="mt30"><a href="#contact" class="btn btn-primary btn-white page-scroll">Find Out More</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 nopadding-lr match-height white-bg" data-mh="promo-inner">
                <div class="section-inner pad-sides-60 promo-inner">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h3 class="mt0">Promo Box</h3>
                        <p class="lead">Contrasted interested eat alteration pianoforte sympathize was. He families believed if no elegance interest surprise an. It abode wrong miles an so delay plate. She relation own put outlived may disposed.</p>
                        <p>Credibly expedite progressive expertise without enterprise-wide imperatives. Dynamically iterate multimedia based manufactured products for business value. Dynamically iterate client-centered best practices before process-centric solutions.</p>
                        <p class="mt30"><a href="#contact" class="btn btn-primary btn-white page-scroll">Find Out More</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 nopadding-lr dark-wrapper remove-opacqued-bg opaqued background-cover match-height" style="background-image: url('assets/img/bg/app1.jpg');" data-mh="promo-inner">
                <div class="dark-opaqued section-inner pad-sides-60 text-right promo-inner"></div>
            </div>
        </div>

        <section class="opaqued light-opaqued parallax">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="4" data-items-desktop="[1200,4]" data-items-desktop-small="[980,4]" data-items-tablet="[768,3]" data-items-mobile="[479,2]">
                                <li>
                                    <img src="assets/img/logo/logo1.png" class="img-responsive" alt="">
                                </li>
                                <li>
                                    <img src="assets/img/logo/logo2.png" class="img-responsive" alt="">
                                </li>
                                <li>
                                    <img src="assets/img/logo/logo3.png" class="img-responsive" alt="">
                                </li>
                                <li>
                                    <img src="assets/img/logo/logo4.png" class="img-responsive" alt="">
                                </li>
                                <li>
                                    <img src="assets/img/logo/logo5.png" class="img-responsive" alt="">
                                </li>
                                <li>
                                    <img src="assets/img/logo/logo6.png" class="img-responsive" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}