{% extends "base.html" %}
{% block content %}

        <!-- Header -->
        <header id="headerwrap" class="backstretched no-overlay special-max-height">
            <div class="container vertical-center">
                <div class="intro-text vertical-center text-center smoothie">
                    <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s">WS Project Kitchen</div>
                    <div class="intro-sub-heading wow fadeIn secondary-font" data-wow-delay="0.4s">Take a look our <span class="rotate">awesome home pages, sexy portfolio items, flexible blog examples</span></div>
                </div>
            </div>
        </header>

        <section id="our-menu-2">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 mb100 wow text-center">
                            <h2 class="section-heading">Welcome To WS Project</h2>
                            <h3 class="section-subheading secondary-font">Were very happy to see you.</h3>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12" role="tabpanel">
                            <div class="row ptb">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-justified" id="menu-tabs" role="tablist">
                                        <li class="active" role="presentation">
                                            <a aria-controls="starter-courses" aria-expanded="true" class="btn btn-primary btn-outlined btn-lg" data-toggle="tab" href="#starter-courses" role="tab"><span>Starters</span></a>
                                        </li>
                                        <li class="" role="presentation">
                                            <a aria-controls="main-courses" aria-expanded="false" class="btn btn-primary btn-outlined btn-lg" data-toggle="tab" href="#main-courses" role="tab"><span>Mains</span></a>
                                        </li>
                                        <li class="" role="presentation">
                                            <a aria-controls="desserts" aria-expanded="false" class="btn btn-primary btn-outlined btn-lg" data-toggle="tab" href="#desserts" role="tab"><span>Desserts</span></a>
                                        </li>
                                        <li class="" role="presentation">
                                            <a aria-controls="drinks" aria-expanded="false" class="btn btn-primary btn-outlined btn-lg" data-toggle="tab" href="#drinks" role="tab"><span>Drinks</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <!-- Tab panes -->
                                    <div class="tab-content pt60" id="tabs-collapse">
                                        <div class="tab-pane fade active in" id="starter-courses" role="tabpanel">
                                            <div class="tab-inner">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Starter Meal</span></h5>
                                                                <p>Dynamically architect end-to-end catalysts for change rather than clicks-and-mortar growth strategies.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>8</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Starter Meal</span></h5>
                                                                <p>Dynamically architect end-to-end catalysts for change rather than clicks-and-mortar growth strategies.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>8</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Starter Meal</span></h5>
                                                                <p>Dynamically architect end-to-end catalysts for change rather than clicks-and-mortar growth strategies.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>9</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Starter Meal</span></h5>
                                                                <p>Dynamically architect end-to-end catalysts for change rather than clicks-and-mortar growth strategies.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>9</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Starter Meal</span></h5>
                                                                <p>Dynamically architect end-to-end catalysts for change rather than clicks-and-mortar growth strategies.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>11</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Starter Meal</span></h5>
                                                                <p>Dynamically architect end-to-end catalysts for change rather than clicks-and-mortar growth strategies.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>11</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="main-courses" role="tabpanel">
                                            <div class="tab-inner">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Main Course</span></h5>
                                                                <p>Dynamically architect end-to-end catalysts for change rather than clicks-and-mortar growth strategies.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Main Course</span></h5>
                                                                <p>Dynamically architect end-to-end catalysts for change rather than clicks-and-mortar growth strategies.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Main Course</span></h5>
                                                                <p>Dynamically architect end-to-end catalysts for change rather than clicks-and-mortar growth strategies.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Main Course</span></h5>
                                                                <p>Dynamically architect end-to-end catalysts for change rather than clicks-and-mortar growth strategies.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Main Course</span></h5>
                                                                <p>Dynamically architect end-to-end catalysts for change rather than clicks-and-mortar growth strategies.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Main Course</span></h5>
                                                                <p>Dynamically architect end-to-end catalysts for change rather than clicks-and-mortar growth strategies.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Main Course</span></h5>
                                                                <p>Dynamically architect end-to-end catalysts for change rather than clicks-and-mortar growth strategies.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Main Course</span></h5>
                                                                <p>Dynamically architect end-to-end catalysts for change rather than clicks-and-mortar growth strategies.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="desserts" role="tabpanel">
                                            <div class="tab-inner">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Dessert Course</span></h5>
                                                                <p>Sed ut perspiciatis unde omnis iste natus error doloremque sit voluptatem accusantium.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Dessert Course</span></h5>
                                                                <p>Sed ut perspiciatis unde omnis iste natus error doloremque sit voluptatem accusantium.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Dessert Course</span></h5>
                                                                <p>Sed ut perspiciatis unde omnis iste natus error doloremque sit voluptatem accusantium.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Dessert Course</span></h5>
                                                                <p>Sed ut perspiciatis unde omnis iste natus error doloremque sit voluptatem accusantium.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Dessert Course</span></h5>
                                                                <p>Sed ut perspiciatis unde omnis iste natus error doloremque sit voluptatem accusantium.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Dessert Course</span></h5>
                                                                <p>Sed ut perspiciatis unde omnis iste natus error doloremque sit voluptatem accusantium.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="drinks" role="tabpanel">
                                            <div class="tab-inner">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Drink Item</span></h5>
                                                                <p>Sed ut perspiciatis unde omnis iste natus error doloremque sit voluptatem accusantium.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Drink Item</span></h5>
                                                                <p>Sed ut perspiciatis unde omnis iste natus error doloremque sit voluptatem accusantium.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Drink Item</span></h5>
                                                                <p>Sed ut perspiciatis unde omnis iste natus error doloremque sit voluptatem accusantium.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Drink Item</span></h5>
                                                                <p>Sed ut perspiciatis unde omnis iste natus error doloremque sit voluptatem accusantium.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Drink Item</span></h5>
                                                                <p>Sed ut perspiciatis unde omnis iste natus error doloremque sit voluptatem accusantium.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <div class="col-xs-9">
                                                                <h5><span>Drink Item</span></h5>
                                                                <p>Sed ut perspiciatis unde omnis iste natus error doloremque sit voluptatem accusantium.</p>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <h1><span>$</span>17</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="our-menu">
            <div class="section-inner nopaddingbottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 mb100 wow text-center">
                            <h2 class="section-heading">Our Team</h2>
                            <h3 class="section-subheading secondary-font">Cooking up a storm.</h3>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="3" data-items-desktop="[1200,3]" data-items-desktop-small="[980,3]" data-items-tablet="[768,3]" data-items-mobile="[479,2]">
                                <li>
                                    <img src="assets/img/restaurant/chef-1.jpg" class="img-responsive" alt="">
                                </li>
                                <li>
                                    <img src="assets/img/restaurant/chef-3.jpg" class="img-responsive" alt="">
                                </li>
                                <li>
                                    <img src="assets/img/restaurant/chef-2.jpg" class="img-responsive" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}