{% extends "base.html" %}
{% block content %}

        <!-- Header -->
        <header id="headerwrap" class="backstretched fullheight no-overlay">
            <div class="container vertical-center">
                <div class="intro-text vertical-center text-center smoothie">
                    <div class="intro-heading wow fadeIn text-center heading-font" data-wow-delay="0.2s">Welcome To WS Project</div>
                    <div class="intro-sub-heading wow fadeIn text-center secondary-font" data-wow-delay="0.4s">We make <span class="rotate">art, emotion, style</span></div>
                </div>
            </div>
        </header>

        <section> 
            <div class="masonry-portfolio fixed-filters row">
                 <ul class="masonry-portfolio-filter mb30 text-center list-inline wow">
                    <li><a class="btn btn-primary active" href="#" data-filter="*">All</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".apps">Apps</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".design">Design</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".photography">Photography</a></li>
                    <li><a class="btn btn-primary" href="#" data-filter=".video">Video</a></li>
                </ul>

                <div class="masonry-portfolio-items">
                    <div class="col-md-4 masonry-portfolio-item design nopadding-lr">
                        <div class="hover-item">
                            <img src="assets/img/blog/blog1.jpg" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie">
                                <h3 class="vertical-center smoothie"><a href="single-portfolio.html" title="view project">Project Title</a></h3>
                            </div>
                            <div class="hover-item-caption smoothie">
                                <div class="vertical-center smoothie">
                                    <a href="assets/img/portfolio/portfolio1.jpg" title="View Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie">Zoom</a>
                                    <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 masonry-portfolio-item photography nopadding-lr">
                        <div class="hover-item">
                            <img src="assets/img/blog/blog2.jpg" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie">
                                <h3 class="vertical-center smoothie"><a href="single-portfolio.html" title="view project">Project Title</a></h3>
                            </div>
                            <div class="hover-item-caption smoothie">
                                <div class="vertical-center smoothie">
                                    <a href="assets/img/portfolio/portfolio1.jpg" title="View Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie">Zoom</a>
                                    <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 masonry-portfolio-item video nopadding-lr">
                        <div class="hover-item">
                            <img src="assets/img/blog/blog3.jpg" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie">
                                <h3 class="vertical-center smoothie"><a href="single-portfolio.html" title="view project">Project Title</a></h3>
                            </div>
                            <div class="hover-item-caption smoothie">
                                <div class="vertical-center smoothie">
                                    <a href="assets/img/portfolio/portfolio1.jpg" title="View Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie">Zoom</a>
                                    <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 masonry-portfolio-item apps nopadding-lr">
                        <div class="hover-item">
                            <img src="assets/img/blog/blog4.jpg" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie">
                                <h3 class="vertical-center smoothie"><a href="single-portfolio.html" title="view project">Project Title</a></h3>
                            </div>
                            <div class="hover-item-caption smoothie">
                                <div class="vertical-center smoothie">
                                    <a href="assets/img/portfolio/portfolio1.jpg" title="View Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie">Zoom</a>
                                    <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 masonry-portfolio-item design nopadding-lr">
                        <div class="hover-item">
                            <img src="assets/img/blog/blog5.jpg" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie">
                                <h3 class="vertical-center smoothie"><a href="single-portfolio.html" title="view project">Project Title</a></h3>
                            </div>
                            <div class="hover-item-caption smoothie">
                                <div class="vertical-center smoothie">
                                    <a href="assets/img/portfolio/portfolio1.jpg" title="View Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie">Zoom</a>
                                    <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 masonry-portfolio-item photography nopadding-lr">
                        <div class="hover-item">
                            <img src="assets/img/blog/blog6.jpg" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie">
                                <h3 class="vertical-center smoothie"><a href="single-portfolio.html" title="view project">Project Title</a></h3>
                            </div>
                            <div class="hover-item-caption smoothie">
                                <div class="vertical-center smoothie">
                                    <a href="assets/img/portfolio/portfolio1.jpg" title="View Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie">Zoom</a>
                                    <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 masonry-portfolio-item video nopadding-lr">
                        <div class="hover-item">
                            <img src="assets/img/blog/blog7.jpg" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie">
                                <h3 class="vertical-center smoothie"><a href="single-portfolio.html" title="view project">Project Title</a></h3>
                            </div>
                            <div class="hover-item-caption smoothie">
                                <div class="vertical-center smoothie">
                                    <a href="assets/img/portfolio/portfolio1.jpg" title="View Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie">Zoom</a>
                                    <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 masonry-portfolio-item apps nopadding-lr">
                        <div class="hover-item">
                            <img src="assets/img/blog/blog8.jpg" class="img-responsive smoothie" alt="">
                            <div class="overlay-item-caption smoothie">
                                <h3 class="vertical-center smoothie"><a href="single-portfolio.html" title="view project">Project Title</a></h3>
                            </div>
                            <div class="hover-item-caption smoothie">
                                <div class="vertical-center smoothie">
                                    <a href="assets/img/portfolio/portfolio1.jpg" title="View Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie">Zoom</a>
                                    <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>  

        <section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="assets/img/bg/bg6.jpg" data-speed="0.7">
        	<div id="contact-tabs" role="tabpanel">
        	   
                <!-- Nav tabs -->
                <ul class="nav nav-justified icon-tabs" id="nav-tabs" role="tablist">
                    <li role="presentation" class="ptb smoothie active">
                        <a href="#contact1" aria-controls="dustin" role="tab" data-toggle="tab">
                            <span class="tabtitle heading-font smoothie text-right">Email Us</span>
                        </a>
                    </li>
                    <li role="presentation" class="ptb smoothie">
                        <a href="#contact2" aria-controls="daksh" role="tab" data-toggle="tab">
                           <span class="tabtitle heading-font smoothie text-left">Visit Us</span>
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" id="tabs-collapse">            
                    <div role="tabpanel" class="tab-pane fade in active" id="contact1">
                        <div id="contact-inner" class="nopadding-lr">
        			        <div class="contact-section-inner">
        			            <div class="container">
        			                <div class="row">
        			                    <div class="col-sm-8 col-sm-offset-2">
        			                        <div id="message"></div>
        			                        <form method="post" action="sendemail.php" id="contactform" class="main-contact-form wow">
        			                            <input type="text" class="form-control col-md-4" name="name" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name." />
        			                            <input type="text" class="form-control col-md-4" name="email" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." />
        			                            <input type="text" class="form-control col-md-4" name="website" placeholder="Your URL *" id="website" required data-validation-required-message="Please enter your web address." />
        			                            <textarea name="comments" class="form-control" id="comments" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
        			                            <input class="btn btn-primary mt30 btn-white pull-right" type="submit" name="submit" value="Submit" />
        			                        </form>
        			                    </div>
        			                </div>
        			            </div>
        			        </div>
        			    </div>
                    </div>
                    
                    <div role="tabpanel" class="tab-pane fade" id="contact2">
                    	<div id="mapwrapper"></div>                
                    </div>
                    
                </div>      
        	</div>
        </section>

       <section class="opaqued light-opaqued parallax" data-parallax="scroll" data-image-src="assets/img/bg/bg_bw1.jpg" data-speed="0.8">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="4" data-items-desktop="[1200,4]" data-items-desktop-small="[980,4]" data-items-tablet="[768,3]" data-items-mobile="[479,2]">
                                <li>
                                    <img src="assets/img/logo/logo1.png" class="img-responsive" alt="">
                                </li>
                                <li>
                                    <img src="assets/img/logo/logo2.png" class="img-responsive" alt="">
                                </li>
                                <li>
                                    <img src="assets/img/logo/logo3.png" class="img-responsive" alt="">
                                </li>
                                <li>
                                    <img src="assets/img/logo/logo4.png" class="img-responsive" alt="">
                                </li>
                                <li>
                                    <img src="assets/img/logo/logo5.png" class="img-responsive" alt="">
                                </li>
                                <li>
                                    <img src="assets/img/logo/logo6.png" class="img-responsive" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
 {% endblock %}